form {
    width: 25rem;
}

div {
    display: flex;
    column-gap: 0.5rem;
    flex-wrap: wrap;
    margin: 0.3rem 0.1rem;
}

span {
    flex: 1;
}

label {
    display: block;
    font-size: small;
    font-style: italic;
    margin-bottom: 0.2rem;
    width: 100%;
}

input, select, textarea {
    display: block;
    border: solid 0.1rem black;
    border-radius: 0.3rem;
    padding: 0.1rem;
    width: 100%;
}

input[type=submit] {
    margin: 1rem auto;
    padding: 0.2rem;
    width: 30%;
}

a {
    display: block;
    font-size: small;
    margin: 1rem auto;
    text-align: center;
}

#messages {
    background-color: #F1E4F3;
    border-radius: 0.3rem;
    margin-bottom: 2rem;
    padding: 0.1rem;
}

li {
   margin: 0.3rem 2rem;
}

.error {
    color: #FF0000;
}
